.Container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;

  .ProductsContainer {
    width: 80%;
    height: 100%;
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
