@import '../../../../style/variables.scss';

.Container {
  width: 20rem;
  height: 25rem;
  background-color: #ffffff;
  box-shadow: 10px 10px 50px 2px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  margin: 1rem 1.2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1, 1.1);
    color: $nav-link-hover-color;
  }

  img {
    width: 20rem;
  }

  h2 {
    margin: 1rem 0;
    color: $dark-font-color !important;
  }
}
