@import '../../style/variables.scss';

.Container {
  overflow-x: hidden;

  .Link {
    color: $navbar-font-color;
    text-decoration: none;
    list-style: none;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: $nav-bg-color;
    color: $navbar-font-color;

    h3 {
      text-transform: uppercase;
    }

    .Burger {
      display: none;
      cursor: pointer;

      div {
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: $navbar-font-color;
        transition: all 0.3s ease;
      }
    }

    .NavLinks {
      width: 40%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 1;
      transition: transform 0.6s ease;

      @media screen and (max-width: 900px) {
        width: 60%;
      }
    }

    .NavCart {
      cursor: pointer;
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        position: absolute;
        top: -17px;
        left: 9px;
        background-color: $cartCount-bg-color;
        font-size: $navbar-font-color;
        padding: 3px 5px;
        border-radius: 50%;
        z-index: -1;
      }

      .NavLogIn {
        margin-left: 1em;
      }
    }
  }

  @media screen and (max-width: 600px) {
    nav {
      .Burger {
        display: block;
      }

      .NavLinks {
        position: absolute;
        width: 50%;
        left: 0;
        top: 10vh;
        height: 90vh;
        background-color: $nav-bg-color;
        display: flex;
        flex-flow: column;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.6s ease;
      }

      .NavActive {
        transform: translateX(0%);
      }
    }
  }
}

.Toggle {
  .Line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .Line2 {
    opacity: 0;
  }

  .Line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
