// Navbar
$nav-bg-color: transparent;
$sideBar-bg-color: #ffffff;
$cartCount-bg-color: #dc143c;
$nav-link-hover-color: #f82654;

// Home
$light-intro-bg-color: #ec4357;

// App/Footer
$first-top-gradient-bg-color: #ee9ca7;
$second-top-gradient-bg-color: #ec4357;

// Global
$dark-font-color: #241b57;
$light-font-color: #ffffff;

@mixin littleMoveUp {
  transform: translateY(-10%);
  transition: transform 0.5s ease;
}
