// Navbar
$nav-bg-color: transparent;
$sideBar-bg-color: #ffffff;
$cartCount-bg-color: #dc143c;
$nav-link-hover-color: #f82654;

// Home
$light-intro-bg-color: #ec4357;

// App
$first-top-gradient-bg-color: #ee9ca7;
$second-top-gradient-bg-color: #ec4357;
$first-bottom-gradient-bg-color: #c779d0;
$second-bottom-gradient-bg-color: #4bc0c8;

// Global
$dark-font-color: #241b57;
$light-font-color: #ffffff;
