@import './style/variables.scss';

body {
  overflow-x: hidden;
}

.App {
  text-align: center;
  min-width: 300px;

  main {
    margin-top: 10vh;
    min-height: 85vh;
  }

  .TopRightGradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(
      to top left,
      $first-top-gradient-bg-color,
      $second-top-gradient-bg-color
    );
    clip-path: circle(30% at 100% 0);
    z-index: -1;

    @media screen and (max-width: 900px) {
      clip-path: circle(22% at 100% 0);
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}
