@import './style/variables.scss';

body {
  overflow-x: hidden;
}

.App {
  width: 100vw;
  text-align: center;

  .TopRightGradient {
    position: absolute;
    overflow: hidden;
    top: -40%;
    right: -15%;
    width: 50em;
    height: 50em;
    border-radius: 50%;
    background: linear-gradient(
      $first-top-gradient-bg-color,
      $second-top-gradient-bg-color
    );
    z-index: -1;
  }

  .BottomLeftGradient {
    position: fixed;
    bottom: -5%;
    left: -5%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(
      $first-bottom-gradient-bg-color,
      $second-bottom-gradient-bg-color
    );
    z-index: -1;
  }

  @media screen and (max-width: 600px) {
    .TopRightGradient {
      display: none;
    }

    .BottomLeftGradient {
      display: none;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 870px) {
    .TopRightGradient {
      width: 15.7em;
      height: 15.7em;
      top: -10%;
    }
  }

  @media screen and (min-width: 870px) and (max-width: 1060px) {
    .TopRightGradient {
      width: 23em;
      height: 23em;
      top: -15%;
    }
  }

  @media screen and (min-width: 1060px) and (max-width: 1260px) {
    .TopRightGradient {
      width: 25em;
      height: 25em;
      top: -15%;
    }
  }

  @media screen and (min-width: 1060px) and (max-width: 1260px) {
    .TopRightGradient {
      width: 30em;
      height: 30em;
      top: -20%;
    }
  }

  @media screen and (min-width: 1260px) and(max-width: 1600px) {
    .TopRightGradient {
      width: 40em;
      height: 40em;
      top: -30%;
    }
  }
}
